.headers {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    color: white;

    .band {
        background-color: #ff8a00;
        height: auto;
        display: grid;
        grid-template-columns: 33.33% 33.33% 33.33%;

        .mobileNo,
        .email {
            display: flex;
            align-items: center;
            justify-content: center;

            p {
                padding-left: 10px;
                color: #000;
            }
        }

        .socialMedia {
            display: flex;
            align-items: center;
            justify-content: center;
            column-gap: 10px;
        }
    }

    .headerMenus {
        display: flex;
        padding: 0 100px;
        justify-content: space-between;
        color: #000;
        font-weight: 600;
        .logo{
            display: flex;
            align-items: center;
        }

        li {
            display: table-cell;
            position: relative;
            padding: 15px 0;

            a {
                cursor: pointer;
                text-decoration: none;
                text-transform: uppercase;
            }

            a:hover {
                width: 100%;
                left: 0;
                text-decoration: underline;
                color: #ff8a00;
            }

            .active {
                text-decoration: underline !important;
                color: #ff8a00;
            }
        }
    }
}