html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
@font-face {
  font-family: Poppins-Bold;
  src: url("../assests/fonts/Poppins/Poppins-Bold.ttf");
}
@font-face {
  font-family: Poppins-Light;
  src: url("../assests/fonts/Poppins/Poppins-Light.ttf");
}
@font-face {
  font-family: PTSerif-Regular;
  src: url("../assests/fonts/PT_Serif/PTSerif-Regular.ttf");
}

a {
  color: inherit;
  text-decoration: none;
  font-family: Poppins-Bold;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
